 h1 {
  color: red;
  border: 15px solid blue;
}

pre {
}

.garis-love {
  text-align: left;
  font-size: 24px;
  letter-spacing: 10px; /* jarak antar love */
  color: red;
}

.garis-love::before {
  content: "❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️"
}

.border-love {
  border: 10px solid transparent;
  padding: 20px;
  border-image: repeating-linear-gradient(
    90deg,
    red 0 10px,
    transparent 10px 20px
  ) 10;
  text-align: center;
  font-size: 18px;
  position: relative;
}

.border-love::before {
  content: "❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️";
  position: absolute;
  top: -20px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 18px;
}

.border-love::after {
  content: "❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️";
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 18px;
}

nav ul {
  list-style: none; /* hilangkan titik list */
  padding: 0;
  margin: 0;
  background-color: #333;
  overflow: hidden;
}

nav ul li {
  float: left; /* sejajarkan ke samping */
}

nav ul li a {
  display: block;
  color: greenyellow;
  text-decoration: none;
  padding: 14px 20px;
}

nav ul li a:hover {
  background-color: #555; /* warna saat kursor di atas menu */
  }
